# Dependencias (Nunca se suben porque son muy pesadas)
node_modules/

# Seguridad (Nunca subas tus contraseñas o claves de API)
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*